<h1>You are <%= @game.answers[:result] %>!</h1>
<p>Your result is:</p>
<ul>
  <li>Secret code: <%= @game.answers[:secret] %></li>
  <li>Attemts were made: <%= @game.answers[:attempts] %></li>
  <li>Hints are used: <%= @game.answers[:hints] %></li>
</ul>

<p>Would you like to save your result?</p>
<form method="post" action="/yes">
  <input type="submit" value="Yes">
</form>
<form method="post" action="/no">
  <input type="submit" value="No">
</form>