<p>Type your guess</p>
<p>You have <%= @game.remaining_guess %> guesses.</p>
<form method="post" action="/guess">
  <input type="text" name="guess" autofocus>
  <input type="submit" value="Guess">
</form>
<p>You have <%= @game.remaining_hint %> hints.</p>
<form method="post" action="/hint">
  <input type="submit" value="Hint">
</form>
<form method="post" action="/restart">
  <input type="submit" value="Restart">
</form>
<p>
  <% unless @what_ask.nil? %>
    <%= @what_ask %> gets <%= @game.answers %>
  <% end %>
</p>